<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>Cutievirus</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="favicon.png">
	<link href="style.css" rel="stylesheet">
	<script src="lib/vue.min.js"></script>
</head>
<body><div id='vue'>
<header id="layout-header">
	<h1>
		<img src="favicon.png" id="logo">
		Cutievirus
	</h1>
	<span id="starmium-count" v-if="starmium>0">
		<span class="starmium-icon">★</span>
		<span class="starmium-value">0.0.00</span>
	</span>
</header>

<section id="section-games">
	<a
	v-for="game in games"
	v-if="!game.hidden"
	:href="game.url"
	>
		<img :src="game.img?game.img:'img/epitaph.png'">
		<div v-text="game.name"></div>
	</a>
</section>

<section id="section-links">
	<a href="https://minecraft.curseforge.com/members/dreadwing93/projects" class="block iconlink"><h2>
		<img class="icon" src="img/mc.png">
		Minecraft Mods
	</h2></a>
	<a href="mv-plugins" class="block iconlink"><h2>
		<img class="icon" src="img/mv.png">
		RPG Maker MV Plugins
	</h2></a>
</section>

<!-- Footer -->
<footer id="layout-footer">
	Thank you for visiting!<br><br>
	<a href="http://cutievirus.com/discord"><img src="img/discord.png">Discord</a>
	<a href="https://twitter.com/dredrail" rel="me"><img src="img/twitter.png">Twitter</a>
</footer>
		
</div><!--/vue-->
<script src="vue.js"></script>
<script src="script.js"></script>
<script src="analytics.js"></script>
</body></html>