$brand-patreon-black: #141518;
$brand-patreon-white: #ffffff;
$brand-patreon-fiery-coral: #ff424d;

$brand-itchio-itchy-carnation: #fa5c5c;

$brand-bluesky-blue: #1185fe;

$brand-discord-blurple: #5865F2;